<!DOCTYPE html>
<html>

  <head>
      <link rel="stylesheet" href="style.css" />
    <title>Carrez</title>
  </head>

  <body>
<form  action="/" method="GET">
  <div class="group">
    <input type="text" id="url" name="url"><span class="highlight"></span><span class="bar" ></span>
    <label>url</label>
  </div>
  
  <button type="submit"  class="button buttonBlue">Is it a good deal?
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
    <p id="demo"></p>
    <p><strong>Result: </strong><%= result %></p>

</form>

  </body>
</html>